
<h3>Full Stack Web developer</h3>
<hr>
    <div class="col-md-12 col-sm-12 col-xs-12">
    
        <div class="container-fluid">
            <div class="textIntro">
                <div class="hi">
                  
                   
                    <p>
                      Hello World!  I am a full stack web developer with experience in a variety of technologies.
                      I feel comfortable as a developer working on both front-end and back-end.<br><br>
                      I am open minded and I love a good challenge.  I feel comfortable working both by myself as
                      well as with a team.  
                      The programming language I feel most comfortable with is Javascript.  However, I am constqantly
                      working on learning new things such as a new programming language, new framework, or just expanding on my
                      current knowledge.  <br><br>
                      
                    </p>
                </div>
            </div>
        </div>
    </div>

