<h1>Edwin Rodriguez</h1>
<h3>Full Stack Web developer</h3>
<hr>
    <div class="col-md-12 col-sm-12 col-xs-12">
    
        <div class="container-fluid">
            <div class="textIntro">
                <div class="hi">
                  
                   
                    <p>
                      Hello World!  I am a full stack web developer with experience in a variety of technologies.
                      I feel comfortable as a developer working on both front end and back end.<br>
                      
                    </p>
                </div>
            </div>
        </div>
    </div>

