<div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="../../assets/images/mypic.png" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
        Edwin Rodriguez
        </div>
        <div class="profile-usertitle-job">
            Orlando, FL
          </div>
        <div class="profile-usertitle-job">
          Web Developer
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="active">
                <a href="https://github.com/MrEdwinRodriguez"> <i class="fa fa-github"></i>Github</a>
          </li>
          <li>
          
                <a href="https://www.linkedin.com/in/edwin-rodriguez-9953727?trk=hp-identity-name"><i class="fa fa-linkedin"></i>LinkedIn</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope"></i>
              MrEdwinRodriguez@gmail.com</a>
          </li>
 
        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>