<section id='skills'>

<h3>My Skills</h3>
<hr>
<div class="container skillsRow">
    <div class="row ">
        <div class="col-md-4 changeBack" ><p>HTML</p>
          <div class="barcontainer">
            <div class="skills html">90%</div>
          </div>
          
          <p>CSS</p>
          <div class="barcontainer">
            <div class="skills css">90%</div>
          </div>
          
          <p>JavaScript</p>
          <div class="barcontainer">
            <div class="skills js">85%</div>
          </div>
        </div>
        <div class="col-md-4 changeBack">
            <p>Node.Js/Express</p>
            <div class="barcontainer">
              <div class="skills node">85%</div>
            </div>
            
            <p>Angular</p>
            <div class="barcontainer">
              <div class="skills angular">80%</div>
            </div>
            
            <p>Python</p>
            <div class="barcontainer">
              <div class="skills python">75%</div>
            </div>
        </div>
        <div class="col-md-4 changeBack">
            <p>Django</p>
            <div class="barcontainer">
              <div class="skills django">60%</div>
            </div>
            
            <p>MySql</p>
            <div class="barcontainer">
              <div class="skills mysql">85%</div>
            </div>
            <p>JQuery</p>
            <div class="barcontainer">
              <div class="skills jquery">85%</div>
            </div>
        </div>
      </div>


</div>
</section>
<br><br>
<h3>Additional Experience...</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="addSkills">
                <li>Git</li>
                <li>Ajax</li>
                <li>REST API's</li>
              </ul>
        </div>
        <div class="col-md-4">
            <ul class="addSkills">
                <li>JSON</li>
                <li>Bootstrap</li>
                <li>NoSQL/MongoDB</li>
              </ul>
        </div>
        <div class="col-md-4">
            <ul class="addSkills">
                <li>@Media Queries</li>
                <li>Charts.js</li>
                <li>Datatables.js</li>
              </ul>
        </div>

      </div>
</div>

<br><br>
<section>
  <h3>Related Work Experience</h3>
  <hr>
  <div class="container">
    <div>
      <h4>Inclusion Without Borders/Livox</h4>
      <h5>Full Stack Web Developer</h5>
      <p>Feb 2017-June 2018</p>
        <ul class="addSkills">
            <li>Created Livox-Stats.  A project using Node.Js for the back end and JavaScript for the front end.  Also used MySql database.</li>
            <li>Created MyLivox.  A project using Django and Django Templates.  Also uses JavaScript and Jquery in the front end as well as a MySql database.</li>
          </ul>
    </div>

  </div>



</section>




