<br><br>

<h3>My Skills</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4"><p>HTML</p>
          <div class="barcontainer">
            <div class="skills html">90%</div>
          </div>
          
          <p>CSS</p>
          <div class="barcontainer">
            <div class="skills css">90%</div>
          </div>
          
          <p>JavaScript</p>
          <div class="barcontainer">
            <div class="skills js">85%</div>
          </div>
        </div>
        <div class="col-md-4">
            <p>Node.Js/Express</p>
            <div class="barcontainer">
              <div class="skills node">85%</div>
            </div>
            
            <p>Angular</p>
            <div class="barcontainer">
              <div class="skills angular">80%</div>
            </div>
            
            <p>Python</p>
            <div class="barcontainer">
              <div class="skills python">75%</div>
            </div>
        </div>
        <div class="col-md-4">
            <p>Django</p>
            <div class="barcontainer">
              <div class="skills django">60%</div>
            </div>
            
            <p>MySql</p>
            <div class="barcontainer">
              <div class="skills mysql">85%</div>
            </div>
            <p>JQuery</p>
            <div class="barcontainer">
              <div class="skills jquery">85%</div>
            </div>
        </div>
      </div>


</div>

<br><br>
<h3>Additional Experience...</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="addSkills">
                <li>Git</li>
                <li>Ajax</li>
                <li>REST API's</li>
              </ul>
        </div>
        <div class="col-md-4">
            <ul class="addSkills">
                <li>JSON</li>
                <li>Bootstrap</li>
                <li>NoSQL/MongoDB</li>
              </ul>
        </div>
        <div class="col-md-4">
            <ul class="addSkills">
                <li>@Media Queries</li>
                <li>Charts.js</li>
                <li>Datatables.js</li>
              </ul>
        </div>

      </div>


</div>




